<p>All of these people supported our cause!</p>
{{# signers}}

    {{if url}}
        <a href="{{url}}">{{first}} {{last}}</a>
    {{else}}
    <ul>
        <li>{{first}} {{last}}</li>
    </ul>
    {{/if}} {{age}} {{#city}} <a href="{{city}}">{{.}}</a>{{/city}}
{{/signers}}



the post for the signatue table just need sig and user_id
sig in users sig . user id = user id
